<% layout( '../../layout') -%>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Fullname</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% items.forEach( function( item ){ %>
            <tr>
                <td>
                    <a href="mailto:<%= item.email %>">
                        <%= item.email %>
                            <i class="icon-envelope"></i>
                    </a>
                </td>
                <td>
                    <%= item.firstname %> <%= item.lastname %> 
                </td>
                <td>
                    <%= item.role %>
                </td>
                <td width="150">
                    <div>
                        <a type="button" class="btn btn-primary" href="/admin/users/<%= item._id %>/edit" title="" data-placement="top" data-original-title="EDIT USER?">
                            <i class="icon-remove"></i>
                            Edit
                        </a>
                        <a type="button" class="btn btn-danger " href="/admin/users/<%= item._id %>/remove" onclick="return confirm('Are you sure?')" title="" data-placement="top" data-original-title="REMOVE USER?">
                            <i class="icon-remove"></i>
                            Remove
                        </a>
                    </div>
                </td>
            </tr>
            <% }); %>
    </tbody>
</table>